<div class="container-fluid sticky-top p-0">
  <nav class="navbar navbar-nav navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a routerLink="/" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler mb-logo d-inline-block d-lg-none">Saya Emix</a>
      <div class="collapse navbar-collapse mt-4 mt-lg-2 main-menu bg-light" id="navbarSupportedContent">
        <a class="navbar-brand d-none d-lg-block" routerLink="/"> Saya Emix</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ps-4">
          <li class="nav-item ps-0 ps-lg-5 mt-4 mt-lg-0 ms-0 ms-lg-4" >
            <a class="nav-link ps-lg-6" id="home" routerLink="/" >Home</a>

          </li>

          <li class="nav-item ps-0 ps-lg-5" >
            <a class="nav-link" id="posts" routerLink="/dashboard" >Add Item</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


